<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>Ola {{nome}},</p>
    <p>Realize a ativação da sua conta acessando o link abaixo:</p>
    <a href='{{link}}'>Ativar</a>
  </body>
</html>